@using Grs.BioRestock.Shared.Enums.Demande;
@using Grs.BioRestock.Transfer.DataModels.Document;
@using System.IO;
@inject IJSRuntime _JSRuntime;

@*@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{*@
    
    <MudTable Items="@allDocument" Filter="new Func<DocumentDto, bool>(Search)" @bind-role="document" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loaded" LoadingProgressColor="Color.Info">
        <ToolBarContent>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => AddDocument(@IdDocument))">Ajouter</MudButton>
        <MudSpacer />
            <MudTextField @bind-Value="_searchString" Immediate="true" Placeholder="@Localizer["Rechercher des demande..."]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3" Style="width:100%; align-items:center;"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<DocumentDto, object>(x => x.Id)">Id</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<DocumentDto, object>(x => x.Designation)">Designation</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<DocumentDto, object>(x => x.NomClient)">Nom Client</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<DocumentDto, object>(x => x.valeur)">Valeur</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<DocumentDto, object>(x => x.DateEtablissement)">Date Création</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<DocumentDto, object>(x => x.DateEtablissement)">Date Signature</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<DocumentDto, object>(x => x.FileUrl)">Fichier</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<DocumentDto, object>(x => x.FileUrlsSigne)">Fichier Signé</MudTableSortLabel></MudTh>
            <MudTh Style="text-align: center">
                Action
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Designation">@context.Designation</MudTd>
            <MudTd DataLabel="Nom">@context.NomClient</MudTd>
        <MudTd DataLabel="Position">@context.DateEtablissement.ToString("dd/MM/yyyy")</MudTd>
        <MudTd DataLabel="Position">@context.DateEtablissement.ToString("dd/MM/yyyy")</MudTd>
            <MudTd DataLabel="FichierJoint">
                <MudAlert Severity="Severity.Normal" Square="true" Dense="true">
                    @*@context.FileName*@
                    <MudIconButton Color="Color.Success"
                                   Icon="@Icons.Material.Filled.CloudUpload" Size="Size.Small"
                                   Link="@context.FileUrl" Target="_blank">
                    </MudIconButton>
                </MudAlert>
            </MudTd>
            @if (context.demandeStatut == DemandeStatut.Signé)
            {
                <MudTd DataLabel="FichierJoint">
                    <MudAlert Severity="Severity.Normal" Square="true" Dense="true">
                        @*@context.FileName*@
                        <MudIconButton Color="Color.Success"
                                       Icon="@Icons.Material.Filled.CloudUpload" Size="Size.Small"
                                       Link="@context.FileUrlsSigne" Target="_blank">
                        </MudIconButton>
                    </MudAlert>
                </MudTd>
            }
            else
            {
                <MudTd DataLabel="Position">@context.demandeStatut</MudTd>
            }
            <MudTd Style="text-align: right">

                 <MudMenu Label="Actions" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                       
                         <MudMenuItem OnClick="@(() => DownloadFile(@context.Id))">Telecharger Doc non signé</MudMenuItem>
                        @if (context.demandeStatut == statutSigner)
                        {
                            <MudMenuItem OnClick="@(() => DownloadFileSigne(@context.Id))">Telecharger Doc signé</MudMenuItem>
                        }
                        <MudMenuItem OnClick="@(() => OpenPDF(@context.Id))">Voir</MudMenuItem>

                 </MudMenu>
                    <MudSpacer/><br />
                    <MudMenu Label="Actions" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                        @if(context.demandeStatut != statutSigner)
                        {
                            <MudMenuItem OnClick="(() => InvokeModal(Convert.ToString(context.Id)))">@Localizer["Modifier"]</MudMenuItem>
                        }
                        @if (context.demandeStatut != statutSigner)
                        {
                            <MudMenuItem OnClick="@(() => SupprimerDemande(@context.Id))">Supprimer</MudMenuItem>
                        }
                        @if (context.demandeStatut != statutSigner)
                        {
                         <MudMenuItem OnClick="@(() => SignerDocument(@context.Id))">Signature</MudMenuItem>
                        }
                    </MudMenu>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
    <br/>

    <div style="width:50%;height:50%;align-content:center;text-align:center;">
        <iframe id="pdfViewer" src="" style="width:100%;height:100%;"></iframe>
    </div>

    
@*}*@

@code {
    private bool _loaded;
    private string _searchString = "";

    private DemandeStatut statutSigner = DemandeStatut.Signé;
    private DemandeStatut statutAnnuler = DemandeStatut.Annulé;
    private DemandeStatut statutNouveau = DemandeStatut.Nouveau;

    [Inject] private IDocumentClient _documentClient { get; set; }
    //[Inject] private IJSRuntime js;

    [Parameter] public int IdDocument { get; set; }

    protected DocumentDto document { get; set; }

    protected List<DocumentDto> allDocument { get; set; } = new();





    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetAllDemande(IdDocument);
    }

    private async Task GetAllDemande(int id)
    {
        _loaded = true;
        try
        { 
            var response = await _documentClient.GetAllGetAsync(IdDocument);
            if (response.Succeeded)
            {
                allDocument = response.Data.ToList();
            }
        }
        catch (Exception)
        {
            throw;
        }
        _loaded = false;
    }

    private bool Search(DocumentDto demande)
    {
        if (string.IsNullOrWhiteSpace(_searchString)) return true;
        if (demande.Designation?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
        {
            return true;
        }
        if (demande.FileName?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
        {
            return true;
        }
        return false;
    }

    public async Task SupprimerDemande(int demandeSignatureId)
    {
        string deleteContent = Localizer["voulez vous Supprimer"];
        var parameters = new DialogParameters
        {
          { nameof(Shared.Dialogs.DeleteConfirmationDialog.ContentText), string.Format(deleteContent, demandeSignatureId) }
        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<Shared.Dialogs.DeleteConfirmationDialog>(Localizer["Delete"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var response = await _documentClient.DeleteAsync(demandeSignatureId);
            if (response == null)
            {
                _snackBar.Add(response.Messages[0], Severity.Success);
                await GetAllDemande(IdDocument);
            }
            else
            {
                foreach (var message in response.Messages)
                {
                    _snackBar.Add(message, Severity.Error);
                }
            }
        }
    }

    //public async Task AnnulerDemande(int demandeSignatureId)
    //{
    //    string deleteContent = Localizer["Voulez vous annuler"];
    //    var parameters = new DialogParameters
    //    {
    //      { nameof(Shared.Dialogs.DeleteConfirmationDialog.ContentText), string.Format(deleteContent, demandeSignatureId) }
    //    };
    //    var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
    //    var dialog = _dialogService.Show<Shared.Dialogs.DeleteConfirmationDialog>(Localizer["Delete"], parameters, options);
    //    var result = await dialog.Result;
    //    if (!result.Cancelled)
    //    {
    //        var response = await _documentClient.AnnuleAsync(demandeSignatureId);
    //        if (response == null)
    //        {
    //            _snackBar.Add(response.Messages[0], Severity.Success);
    //            await GetDemande();
    //        }
    //        else
    //        {
    //            foreach (var message in response.Messages)
    //            {
    //                _snackBar.Add(message, Severity.Error);
    //            }
    //        }
    //    }
    //}

    private async Task InvokeModal(string id)
    {
        var parameters = new DialogParameters();
        if (id != null)
        {
            document = allDocument.FirstOrDefault(d => d.Id == Convert.ToInt32(id));          
            if (document != null)
            {
                parameters.Add(nameof(AddEditDocModel.ModelDocument), new DocumentDto
                    {
                        Id = document.Id,
                        NomClient = document.NomClient,
                    });
            }
        }
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<AddEditDocModel>(id == null ?  Localizer["Create"] : Localizer["Edit"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            OnSearch("");
            //await GetDemande();
        }
    }

    private async Task AddDocument(int id)
    {

        var parameters = new DialogParameters();

        parameters.Add(nameof(AddEditDocModel.IdDocumentAdd), id);
        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = _dialogService.Show<AddEditDocModel>(id == 0 ? Localizer["Create"] : Localizer["Edit"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            OnSearch("");
            //await GetAllDemande();
        }
    }

    private async Task VoirFile(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add(nameof(AfficherFile.IdFile), id);
        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = _dialogService.Show<AfficherFile>(id == 0 ? Localizer["Create"] : Localizer["Edit"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            OnSearch("");
            //await GetAllDemande();
        }
    }

    private void OnSearch(string text)
    {
        _searchString = text;
        //_table.ReloadServerData();
    }

    public async Task SignerDocument(int demandeSignatureId)
    {
        string updateContent = Localizer["Voulez-vous Signer?"];
        var parameters = new DialogParameters
        {
          { nameof(Shared.Dialogs.ConfirmationDialog.ContentText), string.Format(updateContent) }
        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<Shared.Dialogs.ConfirmationDialog>(Localizer["Aoujer"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var response = await _documentClient.SignerDocumentAsync(demandeSignatureId);
            if (response == null)
            {
                _snackBar.Add(response.Messages[0], Severity.Success);
                await GetAllDemande(IdDocument);
            }
            else
            {
                foreach (var message in response.Messages)
                {
                    _snackBar.Add(message, Severity.Error);
                }
            }
        }
    }

    private async Task DownloadFile(int id)
    {
        var document = allDocument.FirstOrDefault(d => d.Id == id);
        var fileName = "NomFile.pdf";
        var fileURL = document.FileUrl;
        await _JSRuntime.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }

    private async Task DownloadFileSigne(int id)
    {
        var document = allDocument.FirstOrDefault(d => d.Id == id);
        var fileName = "NomFileSigne.pdf";
        var fileURL = document.FileUrlsSigne;
        await _JSRuntime.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }

    public void OpenPDF(int IdFile)
    {
        var document = allDocument.FirstOrDefault(d => d.Id == IdFile);
        string filePath = document.FileUrl;
        ((IJSRuntime)_JSRuntime).InvokeAsync<object>("openPDF", filePath);
    }

}
