@page "/DossieListe/liste_dossiers"
@using Grs.BioRestock.Shared.Enums.Demande;
@using Grs.BioRestock.Transfer.DataModels.Demande;
@using Grs.BioRestock.Transfer.DataModels.Document;
@using System.IO;
@using Microsoft.AspNetCore.Components.Rendering;
@using Microsoft.AspNetCore.SignalR.Client;

<style>
    .folder_container {
        background: #F5F5F5;
        transition: all 0.5s ease-out;
    }

    .folder_container:hover {
        background: #BDBDBD;
    }
    .imageIcon {
        width : 50px;
    }
</style>

<MudLayout Class="align-center justify-center">
    <MudGrid>
        <MudItem xs="3">
        </MudItem>
        <MudItem xs="6" sm="6">
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
            </MudTextField>
        </MudItem>
        <MudItem xs="3" sm="6">
        </MudItem>
    </MudGrid>
    <MudCardContent Class="d-flex flex-grow-1">
        <MudMenu Label="Nouveau" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary">
            <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" OnClick="@(() => InvokeModal(null))">Ajouter Dossier</MudMenuItem>
        </MudMenu>   
        <MudSpacer />
        @if (affichage == true)
        {
            <MudButton Variant="Variant.Filled" OnClick="@(() => AffichageCol())">
                <MudIcon Icon="@Icons.Material.Filled.FilterList" Color="Color.Primary" />
            </MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Filled" OnClick="@(() => AffichageList())">
                <MudIcon Icon="@Icons.Material.Filled.Apps" Color="Color.Primary" />
            </MudButton>
        }
    </MudCardContent>

    <MudText Typo="Typo.h5">Liste Dossieur</MudText>
    <MudDivider DividerType="DividerType.Inset" />
    <MudPaper Class="d-flex align-center justify-center mud-width-full">
    </MudPaper>

    @if (!_loaded)
    {
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    }
    else
    {
    <MudCardContent>
            @if(affichage == true)
            {
                <MudGrid>
                    @foreach (var item in allDocument.Where(d => d.DossierParentId == null))
                    {
                        <MudItem xs="3">
                            <MudCard Class="d-flex align-center justify-center mud-width-full py-1 rounded-lg folder_container cursor-pointer" onclick="@(() => ListeFichier(item.Id))">
                                <div Class="d-flex flex-column flex-grow-1">
                                    <MudCardActions Class="d-flex justify-end flex-grow-1 gap-0" Elevation="0">
                                        <MudIconButton Icon="@Icons.Material.Filled.Folder" Size="Size.Large" Class="overflow-y-hidden" />
                                        <MudText Typo="Typo.overline">@item.Titre</MudText>
                                        <MudSpacer />
                                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small">
                                            <MudMenuItem OnClick="@(() => InvokeModal( Convert.ToString(item.Id)))">Modifier</MudMenuItem>
                                            <MudMenuItem OnClick="@(() => SupprimerDemande(item.Id))">Supprimer</MudMenuItem>
                                        </MudMenu>
                                    </MudCardActions>
                                </div>
                            </MudCard>
                        </MudItem>
                    }
                </MudGrid>
            }
            else
            {
                <MudTable Items="@allDocument.Where(d => d.DossierParentId == null)" Filter="new Func<DemandeSignatureDto, bool>(Search)" @bind-role="DemandeSignature" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loaded" LoadingProgressColor="Color.Info">
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<DemandeSignatureDto, object>(x => x.Id)">Type</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<DemandeSignatureDto, object>(x => x.Titre)">Nom</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<DemandeSignatureDto, object>(x => x.CreatedOn)">Date de creation</MudTableSortLabel></MudTh>
                        <MudTh Style="text-align: center">
                            Action
                        </MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Id"><MudIconButton Icon="@Icons.Material.Filled.Folder" Size="Size.Medium" Class="overflow-y-hidden" /></MudTd>
                        <MudTd DataLabel="Designation">@context.Titre</MudTd>
                        <MudTd DataLabel="Position">@context.CreatedOn.ToString("dd/MM/yyyy")</MudTd>

                        <MudTd Style="text-align: right">
                            <div Class="d-flex flex-column flex-grow-1">
                                <MudCardActions Class="d-flex justify-end flex-grow-1 gap-0" Elevation="0">
                                    <MudSpacer />
                                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small">
                                        <MudMenuItem OnClick="@(() => InvokeModal( Convert.ToString(context.Id)))">Modifier</MudMenuItem>
                                        <MudMenuItem OnClick="@(() => SupprimerDemande(context.Id))">Supprimer</MudMenuItem>
                                    </MudMenu>
                                </MudCardActions>
                            </div>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            }
    </MudCardContent>
    }
</MudLayout>

         


@code {
    private bool affichage;
    private bool _loaded;
    private string _searchString = "";

    private DemandeStatut statutSigner = DemandeStatut.Signé;
    private DemandeStatut statutAnnuler = DemandeStatut.Annulé;
    private DemandeStatut statutNouveau = DemandeStatut.Nouveau;

    [CascadingParameter] private HubConnection HubConnection { get; set; }

    [Inject] private IDocumentClient _documentClient { get; set; }
    [Inject] private IDemandeClient _demandeClient { get; set; }


    protected List<DemandeSignatureDto> allDocument { get; set; } = new();
    protected DemandeSignatureDto DemandeSignature { get; set; }
    protected DemandeSignatureDto dossier { get; set; }


    protected override async Task OnInitializedAsync()
    {
        AffichageList();
        HubConnection = HubConnection.TryInitialize(_navigationManager);
        if (HubConnection.State == HubConnectionState.Disconnected)
        {
            await HubConnection.StartAsync();
        }
        await GetAllDemande();
        _loaded = true;
    }

    private async Task GetAllDemande()
    {
        _loaded = true;
        try
        {
            var response = await _demandeClient.GetAllAsync();
            if (response.Succeeded)
            {
                allDocument = response.Data.ToList();
            }
        }
        catch (Exception)
        {
            throw;
        }
        _loaded = false;
    }
   
    private async Task InvokeModal(string id = null)
    {
        var parameters = new DialogParameters();
        if (id != null)
        {
            dossier = allDocument.FirstOrDefault(d => d.Id == Convert.ToInt32(id));
            if (dossier != null)
            {
                parameters.Add(nameof(AddEditModalDossier.ModelDossier), new DemandeSignatureDto
                    {
                        Id = dossier.Id,
                        Titre = dossier.Titre,
                        DossierParentId = dossier.DossierParentId,
                    });
            }
        }
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<AddEditModalDossier>(id == null ? Localizer["Create"] : Localizer["Edit"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            OnSearch("");
            //await GetAllDemande();
        }
        //await GetAllDemande();
    }

    private bool Search(DemandeSignatureDto demande)
    {
        if (string.IsNullOrWhiteSpace(_searchString)) return true;
        if (demande.Titre?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
        {
            return true;
        }
        return false;
    }

    private void OnSearch(string text)
    {
        _searchString = text;
        //_table.ReloadServerData();
    }

    private void ListeFichier(int Id)
    {
        _navigationManager.NavigateTo(String.Format(Constants.PAGE_FILES, Id));
    }

    public async Task SupprimerDemande(int fichierId)
    {
        string deleteContent = Localizer["voulez vous Supprimer"];
        var parameters = new DialogParameters
        {
          { nameof(Shared.Dialogs.DeleteConfirmationDialog.ContentText), string.Format(deleteContent, fichierId) }
        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<Shared.Dialogs.DeleteConfirmationDialog>(Localizer["Delete"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var response = await _demandeClient.DeleteAsync(fichierId);
            if (response == null)
            {
                _snackBar.Add(response.Messages[0], Severity.Success);
                await GetAllDemande();
            }
            else
            {
                foreach (var message in response.Messages)
                {
                    _snackBar.Add(message, Severity.Error);
                }
            }
        }
    }

    private void AffichageList()
    {
        affichage = true;
    }
    private void AffichageCol()
    {
        affichage = false;
    }
}
